<header></header>

<head>
	<title></title>
</head>

<body>
	<div class="top-text">
		<h1>Welcome to Bookers!!</h1>
		<p>In Bookers,<br>
			you can share and exchange your opinions , inpressions , and emotions<br>
		    about various books!</p>
    </div>

    <div class="">
    	<%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %><br>
    	<%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success" %><br>
    </div>
</body>