<div class="container">
	<div class="row">
		<div class="col-lg-3" <style="background-color: white">

			<h1>New Book</h1>

			<%= form_for(@book) do |f| %>
			<p>Title</p>
			<%= f.text_field :title, class: "edit-title" %>

			<p>Opinion</p>
			<%= f.text_area :opinion, class: "edit-opinion" %>
			<br>
			<%= f.submit 'Create Book', class: "btn-btn-primary" %>
			<% end %>
		</div>
	</div>
</div>