// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-text{
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

.button{
	margin: 0 auto;
	text-align:center;
}

.btn.btn-primary{
	width: 80%
}

.btn.btn-success{
	width: 80%;
}
